{% extends 'courses/main-layout.html' %}
{%load crispy_forms_tags%}
{% block title%}
Страница авторизации
{%endblock%}

{%block main_section%}
<div class="container">
    <div class="form-section">
        <h1>Страница авторизации</h1>
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button class="btn btn-outline-warning" type="submit">Войти</button>
        </form>
        <hr>
        Забыли пароль? <a href="{% url 'pass-reset' %}">Получить новый</a>
    </div>
</div>
{%endblock main_section%}
